@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 300px;
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main";
    align-content: center;
    justify-content: space-around;
    /* box-shadow: black 20px 20px 20px */
    background-color: black;
}
body>header{
    grid-area:header;
}
body>main{
    grid-area: main;
}
body>footer{
    grid-area: footer;
}
header{
    /* background-color: blue; */
    background-image: linear-gradient(rgba(85, 85, 88, 0.5), rgba(85, 85, 88, 0.5)),
    url("./images/2.png");
    /* display: grid; */
    /* grid-template-columns: ; */
}

main{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 30% 70%;

}

h1{ font-family: 'Bungee Spice', cursive;
    text-align: center;
    background-image: linear-gradient(rgba(85, 85, 88, 0.5), rgba(85, 85, 88, 0.5)),
                  url("./images/2.png");
    padding: 0;
}
main{
    background-color: black;
}

#gameboard{
    position: relative;
    padding: 5px;
    margin: 40px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    /* background-color: whitesmoke; */
    background-image: linear-gradient(rgba(85, 85, 88, 0.5), rgba(85, 85, 88, 0.5)),
    url("./images/2.png");
    height: 400px;
    width: 400px;
    box-shadow: rgb(185, 182, 182) 20px 20px 20px;
}
.snake{
    background-color: rgb(145, 80, 206);
    border-top: .25vmin solid rgb(0, 0, 0);
    border-bottom: .25vmin solid rgb(0, 0, 0);
    
}
.food{
    background-color: rgba(255, 0, 0, 0.856);
    border: .25vmin solid rgb(0, 0, 0);
}
#scoreboard{
    background-color: black;
    align-content: center;
    text-align: center;
    margin: 50px;
    box-shadow: rgb(185, 182, 182) 20px 20px 20px 20px 
}
.score{
    font-family: 'Bungee Spice', cursive;
}
.button{
    border-color: #fa8231;
    border-radius: 2px ;
    background-color: black;
    font-family: 'Bungee Spice', cursive;
    margin-bottom: 30px;
}
footer{
    background-color: black;
}